@font-face {
    font-family: 'Poppins';
    src: url('../schriften/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../schriften/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background-image: url('../images/hintergrund_final.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* Header -> Logo Formatierung */
.header {
    display: flex;
    justify-content: flex-end;
    width: 100%;

}

.logo_cityflow {
    width: 20%;
    margin: 15px;
}

/* ab hier Allgmeines */


.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFC22;
    font-size: 22vw;
    letter-spacing: 20px;
    line-height: 1;
    margin-top: -20px;

}

p {
    color: #FFFC22;
    font-size: 1.7vw;
    letter-spacing: 3px;
}




/* ab hier Startseite*/

.startseite {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 85%;
    justify-content: flex-start;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* Optional: zentriert die Inhalte vertikal */
    justify-content: space-between;
    /* Verteilt h1 und p auf den verfügbaren Platz */
    margin-bottom: 10px;
}

.total h1 {
    flex-basis: 70%;
    /* Nutzt 70% des verfügbaren Platzes */
    text-align: right;
    /* Links bündig */
}

.total p {
    flex-basis: 30%;
    /* Nutzt 30% des verfügbaren Platzes */
    text-align: left;
    /* Rechts bündig */
}

/* erklährungstext */
.text_visualisierung {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
}

.text_erklaehrung {
    width: 70%;

}

/* auswertung - journalistischer Beitrag*/
.auswertung {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
    flex-direction: column;
}

/* ab hier Karte St.Gallen inkl. Parkhäuser- / Passantenbidler */

.karte {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#karte_stgallen {
    width: 120%;

}

#parkhaus_kreuzbleiche {
    width: 9%;
    position: absolute;
    /* Ermöglicht das freie Positionieren */
    top: 64%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 21%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
    transform: translate(-50%, -50%);
    /* Zentriert das Bild an den angegebenen Koordinaten */

}










.slider {
    width: calc(100% - 100px);
    /* Gesamtbreite minus 50px links und rechts */
    height: 50px;
    /* Höhe des Sliders */
    background-color: #FFFC22;
    /* Hintergrundfarbe */
    border-radius: 30px;
    /* Runde Ecken des Sliders */
    position: relative;
    /* Setzt den Slider relativ für die Positionierung des Handles */
    margin: 0 50px;
    /* 50px Abstand links und rechts */
}

.slider-handle {
    width: 50px;
    /* Breite des Handles */
    height: 50px;
    /* Höhe des Handles */
    background-color: #000;
    /* Farbe des Handles */
    border-radius: 50%;
    /* Runde Form für den Handle */
    position: absolute;
    top: 0;
    /* Positioniert den Handle vertikal auf der Oberkante des Sliders */
    left: calc(100% - 50px);
    /* Positioniert den Handle ganz rechts und stellt sicher, dass er nicht über den Slider hinausragt */
    cursor: pointer;
    z-index: 1;
}

.time {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFC22;
}