@font-face {
    font-family: 'Poppins';
    src: url('../schriften/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../schriften/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background-image: url('../images/hintergrund_final.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}

/* Header -> Logo Formatierung */
.header {
    display: flex;
    justify-content: flex-end;  
    width: 95%;
}

.logo_cityflow {
    width: 20%;
    margin-top: 15px;
}

/* ab hier Allgmeines */

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

h1 {
    color: #FFFC22;
    font-size: 20vw; /* 8% */
    letter-spacing: 50px;
    margin-bottom: 5px;
    margin-top: 2px;
    line-height: 1;

}

p {
    color: #FFFC22;
    font-size: 30px;
    letter-spacing: 3px;
}




/* ab hier Startseite*/

.startseite {
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: baseline; /* Optional: zentriert die Inhalte vertikal */
    justify-content: space-between; /* Verteilt h1 und p auf den verfügbaren Platz */
    margin-bottom: 10px;   
}

.total h1 {
    flex-basis: 70%; /* Nutzt 70% des verfügbaren Platzes */
    text-align: right; /* Links bündig */
}

.total p {
    flex-basis: 30%; /* Nutzt 30% des verfügbaren Platzes */
    text-align: left; /* Rechts bündig */
}

/* ab hier Karte St.Gallen inkl. Parkhäuser- / Passantenbidler */

.karte {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    align-items: center;
    position: relative;
}

#karte_stgallen {
    width: 100%;

}

#parkhaus_kreuzbleiche {
    width: 9%;
    position: absolute;
    /* Ermöglicht das freie Positionieren */
    top: 64%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 21%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
    transform: translate(-50%, -50%);
    /* Zentriert das Bild an den angegebenen Koordinaten */

}