@font-face {
    font-family: 'Poppins';
    src: url('../schriften/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../schriften/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins, sans-serif;
    background-image: url('../images/hintergrund_final.jpg');
    background-size: cover;
    background-position: top; /* Hintergrund zentrieren */
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
}


/* STARTSEITE INKL. Logo und PFEIL */

.startseite {
display: flex;
flex-direction: row;
width: 100%;
height: 800px;
align-items: center;
}

.container_total {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 80%;
}

.total {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    /* Optional: zentriert die Inhalte vertikal */
    justify-content: space-between;
    /* Verteilt h1 und p auf den verfügbaren Platz */
    margin-bottom: 10px; 
}

.total h1 {
    flex-basis: 70%;
    /* Nutzt 70% des verfügbaren Platzes */
    text-align: right;
    /* Links bündig */
}

.total p {
    flex-basis: 30%;
    /* Nutzt 30% des verfügbaren Platzes */
    text-align: left;
    /* Rechts bündig */
}


.container_logo {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.logo_cityflow {
    height: 20%;
    width: auto;
}

.pfeil {
    height: 10%;
    width: auto;
 }





/* AB HIER ALLGEMEINES*/


main {
    position: relative; /* Macht den Main-Container zum Bezugspunkt für das Häuser-Bild */
    min-height: 100vh; /* Stellt sicher, dass der Inhalt mindestens die Höhe des Bildschirms hat */
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    color: #FFFC22;
    font-size: 22vw;
    letter-spacing: 20px;
    line-height: 1;
    margin-top: -20px;

}

h2 {
    /* TITEL LEGENDE */
    color: #FFFC22;
    font-size: 5vw;
    letter-spacing: 2vw;
}

h3 {
    /* Grössere Wörter in p Text */
    color: #FFFC22;
    font-size: 2vw;
    letter-spacing: 1vw;

}

p {
    color: #FFFC22;
    font-size: 1.7vw;
    letter-spacing: 0.5vw;
}




/* AB HIER LEGENDE */
.container_legende {
    display: flex;
    margin-top: 15vh;
    height: 60%;

}

#text_legende {
    writing-mode: vertical-rl;
    /* Textfluss von oben nach unten, von rechts nach links */
    transform: rotate(180deg);
    width: 15%;
}

.bilder_legenden {
    display: flex;
    width: 40%;
    flex-direction: column;

}

#legende_parkhaeuser {
    width: 60%;
}

#legende_passanten {
    width: 90%;
}

.text_erklaehrung {
    width: 40%; /* Breite des Textcontainers */
    text-align: right; /* Text rechtsbündig ausrichten */
    line-height: 1.5; /* Zeilenhöhe für bessere Lesbarkeit */
    margin-left: auto; /* Automatischer Linksmargin, um den Text nach rechts zu schieben */
}

/* AUSWERTUNGSTEXT - JOURNALISTISCHER BEITRAG*/
.auswertung {
    display: flex;
    margin-top: 15vh;
    justify-content: center;
    flex-direction: column;
}

/* AB HIER KARTE ST:GALLEN INKL. PARKHÄUSER / PASSANTENBILDER */

.karte {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

#karte_stgallen {
    width: 100%;
    height: auto;

}

.bilder_parkhaeuser {
    width: 14%;
    position: absolute;
    /* Ermöglicht das freie Positionieren */
    transform: translate(-50%, -50%);
    /* Zentriert das Bild an den angegebenen Koordinaten */
}

#parkhaus_p21 {
    top: 23%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 66%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
    z-index: 1;
}

#parkhaus_p22 {
    top: 2%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 65%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}

#parkhaus_p23 {
    top: 4%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 72%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}

#parkhaus_p24 {
    top: 18%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 41.5%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}

#parkhaus_p25 {
    top: 50%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 9%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}

#parkhaus_p31 {
    top: 22.5%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 87%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}

#parkhaus_p32 {
    top: 50%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 79%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}

#parkhaus_p33 {
    top: 33%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 86%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
    z-index: 1;
}

.bilder_passanten {

    width: 18%;
    position: absolute;
    /* Ermöglicht das freie Positionieren */
    transform: translate(-50%, -50%);
    /* Zentriert das Bild an den angegebenen Koordinaten */
    top: 52%;
    /* Vertikale Positionierung (Anpassen nach Bedarf) */
    left: 50%;
    /* Horizontale Positionierung (Anpassen nach Bedarf) */
}


/*BILDER AM WEBSEITEN ENDE */
.images_end {
    position: relative;
    overflow: hidden; /* Verhindert, dass Inhalte (wie das Bild) außerhalb des Containers angezeigt werden */
    height: 100vh; /* Begrenze die Höhe des Containers */
}

#bild_mann {
    width: 30%;
    position: absolute; 
    bottom: 0;
    left: 0;
    z-index: 2;
    max-height: 100%; /* Maximiere die Höhe, sodass das Bild innerhalb des Containers bleibt */
    object-fit: contain; /* Hält das Bild proportional innerhalb des Containers */
}

#bild_frau {
    width: 20%;
    position: absolute;
    left: 60%;
    bottom: 0;
    z-index: 2;
}

#haeuser_hintergrund {
    position: absolute; /* Absolut positioniert im Kontext des Containers */
    bottom: 0; /* Am unteren Ende des Containers */
    left: 0; /* Am linken Rand */
    width: 100%; /* Bild über die gesamte Breite strecken */
    z-index: -1; /* Hinter anderen Inhalten */
}

/*SLIDER ZEIT UND KALENDER*/

.slider {
    width: calc(100% - 100px);
    /* Gesamtbreite minus 50px links und rechts */
    height: 50px;
    /* Höhe des Sliders */
    background-color: #FFFC22;
    /* Hintergrundfarbe */
    border-radius: 30px;
    /* Runde Ecken des Sliders */
    position: relative;
    /* Setzt den Slider relativ für die Positionierung des Handles */
    margin: 0 50px;
    /* 50px Abstand links und rechts */
}

.slider-handle {
    width: 50px;
    /* Breite des Handles */
    height: 50px;
    /* Höhe des Handles */
    background-color: #000;
    /* Farbe des Handles */
    border-radius: 50%;
    /* Runde Form für den Handle */
    position: absolute;
    top: 0;
    /* Positioniert den Handle vertikal auf der Oberkante des Sliders */
    left: calc(100% - 50px);
    /* Positioniert den Handle ganz rechts und stellt sicher, dass er nicht über den Slider hinausragt */
    cursor: pointer;
    z-index: 1;





}

.time {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFC22;





}


/* Styling des Datumseingabefeldes */
.calendar-input {
    padding: 10px;
    font-size: 16px;    
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    background-color: #FFFC22;
    font-family: Poppins, sans-serif;
    color: black; /* Textfarbe für besseren Kontrast */
    width: 100%;
    max-width: 200px;
    text-align: center;






}





